<section id="about" class="py-16 md:py-24">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
        <h2 class="text-3xl font-bold mb-12 text-center">À propos de moi</h2>
        <div class="bg-light-card dark:bg-dark-card rounded-xl shadow-md p-6 md:p-8 animate-on-scroll">
            <p class="text-lg leading-relaxed mb-6">
                En tant qu'étudiant en deuxième année de cycle d'ingénieur en mécatronique et systèmes intelligents, et membre du club Mécatronique Industrielle & Intelligence Embarquée, j'ai acquis diverses compétences techniques et managériales. Je suis prêt à appliquer mes connaissances et compétences dans de nouveaux défis.
            </p>
        </div>
    </div>
</section>