<section id="contact" class="py-16 md:py-24 bg-gray-50 dark:bg-gray-900">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
        <h2 class="text-3xl font-bold mb-12 text-center">Contact</h2>
        <p class="text-center mb-6">
            Vous pouvez me contacter via les options ci-dessous :
        </p>
        <div class="flex flex-col md:flex-row justify-center items-center space-y-4 md:space-y-0 md:space-x-6">
            <!-- Bouton Email -->
            <a href="mailto:kistassyassin@gmail.com" class="px-6 py-3 bg-primary hover:bg-secondary text-white rounded-md transition-colors">
                Envoyer un Email
            </a>

            <!-- Bouton LinkedIn -->
            <a href="https://www.linkedin.com/in/yassine-kistass/" target="_blank" class="px-6 py-3 bg-primary hover:bg-secondary text-white rounded-md transition-colors">
                Contacter sur LinkedIn
            </a>

            <!-- Bouton WhatsApp -->
            <a href="https://wa.me/212659584879" target="_blank" class="px-6 py-3 bg-primary hover:bg-secondary text-white rounded-md transition-colors">
                Contacter sur WhatsApp
            </a>
        </div>
    </div>
</section>